<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!-- header -->
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h2>회원 목록</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.username}"></td>
            <td th:text="${member.age}"></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/springmvc/v3/members/new-form}">새 회원 가입</a></p>
</div>

<!-- footer -->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
