<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 등록 성공</title>
</head>
<body>
<!-- header -->
<div th:insert="fragments/header :: header"></div>

<p>성공</p>
<ul>
    <li>id: <span th:text="${member.id}"></span></li>
    <li>username: <span th:text="${member.username}"></span></li>
    <li>age: <span th:text="${member.age}"></span></li>
</ul>
<a th:href="@{/index.html}">메인</a>
</body>

<!-- footer -->
<div th:insert="fragments/footer :: footer"></div>
</html>
